In [ ]:
import pandas as pd
import sqlite3 as sql

In [ ]:
db = sql.connect("newdb.db")
cursor = db.cursor()

In [ ]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/world_population.csv", index_col='rank')
df.head()

        country     density   densityMi   pop2021  area
rank
1         Macau  21946.4667  56841.3487   658.394    30
2        Monaco  19755.5000  51166.7450    39.511     2
3     Singapore   8305.1915  21510.4461  5896.686   710
4     Hong Kong   6841.3134  17719.0017  7552.810  1104
5     Gibraltar   5616.3333  14546.3033    33.698     6

In [ ]:
# yangi sql jadval yaratamiz
query = """
CREATE TABLE IF NOT EXISTS worldpop(
rank INT,
country TEXT PRIMARY KEY,
density DOUBLE,
population DOUBLE NOT NULL,
area INT NOT NULL
);
"""
cursor.execute(query)
db.commit()

In [ ]:
uz = df[df.country=='Uzbekistan']
uz

         country  density  densityMi    pop2021    area
rank
133   Uzbekistan  75.8511   196.4542  33935.763  447400

f - string degani matnni ichiga õzgaruvchilarni yozish degani

In [ ]:
# index qiymatini olish
rank = uz.index.values[0]
print(rank)

133

In [ ]:
# ustunlar qiymatini olish
country = uz.at[rank, 'country']
print(country)

Uzbekistan

In [ ]:
# barcha qiymatlarni ajratib olish DataFrame dan
rank = uz.index.values[0]
country = uz.at[rank, 'country']
density = uz.at[rank, 'density']
population = uz.at[rank, 'pop2021']
area = uz.at[rank, 'area']
print(f"{rank}, {country}, {population}, {area}")

133, Uzbekistan, 33935.763, 447400

In [ ]:
query = f"""
INSERT INTO worldpop VALUES ({rank}, '{country}', {density}, {population}, {area})
"""
cursor.execute(query)
db.commit()

In [ ]:
# tekshirib kõramiz
cursor.execute("SELECT * FROM worldpop")
cursor.fetchall()

[(133, 'Uzbekistan', 75.8511, 33935.763, 447400)]

In [ ]:
# omborni yopamiz
db.close()