Ma'lumotlar ombori

In [ ]:
import pandas as pd
import sqlite3 as sql
from pprint import pprint as print

Onlayndan tayyor sql ma'lumotni yuklab olish usuli

In [ ]:
# !wget komandasini kiritib keyin bizga kerakli bólgan linkni yani ma'lumotlar omborini manzilini yuklaymiz
!wget https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip

--2024-08-06 13:06:33--  https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip
Resolving www.sqlitetutorial.net (www.sqlitetutorial.net)... 104.21.30.141, 172.67.172.250, 2606:4700:3037::ac43:acfa, ...
Connecting to www.sqlitetutorial.net (www.sqlitetutorial.net)|104.21.30.141|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 305596 (298K) [application/zip]
Saving to: ‘chinook.zip’

chinook.zip         100%[===================>] 298.43K  --.-KB/s    in 0.03s

2024-08-06 13:06:33 (8.79 MB/s) - ‘chinook.zip’ saved [305596/305596]

In [ ]:
# chinook.zip faylidagi ma'lumotlar omborini ochish
# buning uchun !unzip komandasini beramiz
!unzip chinook.zip

Archive:  chinook.zip
  inflating: chinook.db

Ma'lumotlar omboriga ulanish

In [ ]:
db = sql.connect('chinook.db')
# cursor metodi yordamida sql ni ishga tushirish
cursor = db.cursor()

In [ ]:
# Malumotlar ombori ichidagi jadvallarni kórish usuli, dastur yordamida
# execute - bajarish komandasi
# qavsni ihidagi yozuv SQL tilida yozilgan, SQL komandasi

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
cursor.fetchall() # fetchall - barchasini kórish
# natija bir nechta jadvallar chiqadi

[('albums',),
 ('sqlite_sequence',),
 ('artists',),
 ('customers',),
 ('employees',),
 ('genres',),
 ('invoices',),
 ('invoice_items',),
 ('media_types',),
 ('playlists',),
 ('playlist_track',),
 ('tracks',),
 ('sqlite_stat1',)]

Jadavaldi ichidagi qatorlar sonini kórish

In [ ]:
cursor.execute("SELECT COUNT (*) FROM sqlite_sequence")
cursor.fetchone()

(10,)

In [ ]:
cursor.execute("SELECT COUNT (*) FROM customers")
cursor.fetchone()

(59,)

Jadvalni ichidagi ustunlar sonini kórish

In [ ]:
cursor.execute("PRAGMA table_info(customers);") # PRAGMA komandasi SQLITE3 hos komanda
cursor.fetchall()

[(0, 'CustomerId', 'INTEGER', 1, None, 1),
 (1, 'FirstName', 'NVARCHAR(40)', 1, None, 0),
 (2, 'LastName', 'NVARCHAR(20)', 1, None, 0),
 (3, 'Company', 'NVARCHAR(80)', 0, None, 0),
 (4, 'Address', 'NVARCHAR(70)', 0, None, 0),
 (5, 'City', 'NVARCHAR(40)', 0, None, 0),
 (6, 'State', 'NVARCHAR(40)', 0, None, 0),
 (7, 'Country', 'NVARCHAR(40)', 0, None, 0),
 (8, 'PostalCode', 'NVARCHAR(10)', 0, None, 0),
 (9, 'Phone', 'NVARCHAR(24)', 0, None, 0),
 (10, 'Fax', 'NVARCHAR(24)', 0, None, 0),
 (11, 'Email', 'NVARCHAR(60)', 1, None, 0),
 (12, 'SupportRepId', 'INTEGER', 0, None, 0)]