In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
from pandas import Series

lugat yaratish

In [ ]:
cars_dict = {'Malibu':40000, 'Lacetti':20000, 'Toyota':45000, 'Mazda':52000, 'Honda':38000}

In [ ]:
# turini tekshirish
type(cars_dict)

dict

In [ ]:
# Series ga ≈çtkazish usuli

cars1 = Series(cars_dict)

In [ ]:
cars1

Malibu     40000
Lacetti    20000
Toyota     45000
Mazda      52000
Honda      38000
dtype: int64

In [ ]:
type(cars1)

pandas.core.series.Series

In [ ]:
# series yaratish yana bir turi
cars1 = Series({'Malibu':40000, 'Lacetti':20000, 'Toyota':45000, 'Mazda':52000, 'Honda':38000})

In [ ]:
cars1

Malibu     40000
Lacetti    20000
Toyota     45000
Mazda      52000
Honda      38000
dtype: int64

In [ ]:
'Malibu' in cars1

True

In [ ]:
'BMW' in cars1

False

In [ ]:
cars1['Toyota']

45000

In [ ]:
cars1['Lacetti']

20000

In [ ]:
models = ['Honda', 'Mazda', 'Lacetti', 'Jaguar', 'Malibu', 'Toyota']

In [ ]:
cars2 = Series(cars_dict, index=models)
cars2

Honda      38000.0
Mazda      52000.0
Lacetti    20000.0
Jaguar         NaN
Malibu     40000.0
Toyota     45000.0
dtype: float64