In [ ]:
import pandas as pd
import numpy as np
from pandas import Series

In [ ]:
cars_dict = {'Malibu':40000, 'Lacetti':20000, 'Toyota':45000, 'Mazda':52000, 'Honda':38000}
cars1 = Series(cars_dict)
cars1

Malibu     40000
Lacetti    20000
Toyota     45000
Mazda      52000
Honda      38000
dtype: int64

In [ ]:
# lugat yaratish
cars_dict = {'Malibu':40000, 'Lacetti':20000, 'Toyota':45000, 'Mazda':52000, 'Honda':38000}
cars_dict

{'Malibu': 40000,
 'Lacetti': 20000,
 'Toyota': 45000,
 'Mazda': 52000,
 'Honda': 38000}

In [ ]:
models = ['Honda', 'Mazda', 'Lacetti', 'Jaguar', 'Malibu', 'Toyota', 'BMW', 'MERCEDES']
models

['Honda', 'Mazda', 'Lacetti', 'Jaguar', 'Malibu', 'Toyota', 'BMW', 'MERCEDES']

In [ ]:
# series yaratish
cars2 = Series(cars_dict, index=models)
cars2

Honda       38000.0
Mazda       52000.0
Lacetti     20000.0
Jaguar          NaN
Malibu      40000.0
Toyota      45000.0
BMW             NaN
MERCEDES        NaN
dtype: float64

### Series metodlari

In [ ]:
# .isnull() metodi har bitta qiymatni kōrib chiqib mavjud bōlmasa True qaytaradi
cars2.isnull()

Honda       False
Mazda       False
Lacetti     False
Jaguar       True
Malibu      False
Toyota      False
BMW          True
MERCEDES     True
dtype: bool

In [ ]:
# .notnull() metodi agar qiymatlar mavjud bōlsa True qaytaradi
cars2.notnull()

Honda        True
Mazda        True
Lacetti      True
Jaguar      False
Malibu       True
Toyota       True
BMW         False
MERCEDES    False
dtype: bool

In [ ]:
cars2

Honda       38000.0
Mazda       52000.0
Lacetti     20000.0
Jaguar          NaN
Malibu      40000.0
Toyota      45000.0
BMW             NaN
MERCEDES        NaN
dtype: float64

In [ ]:
cars1

Malibu     40000
Lacetti    20000
Toyota     45000
Mazda      52000
Honda      38000
dtype: int64

Arifmetik amallar

In [ ]:
cars1 + cars2

BMW              NaN
Honda        76000.0
Jaguar           NaN
Lacetti      40000.0
MERCEDES         NaN
Malibu       80000.0
Mazda       104000.0
Toyota       90000.0
dtype: float64

Series ga nom berish

In [ ]:
cars2.name = 'Avtosalon'
cars2

Honda       38000.0
Mazda       52000.0
Lacetti     20000.0
Jaguar          NaN
Malibu      40000.0
Toyota      45000.0
BMW             NaN
MERCEDES        NaN
Name: Avtosalon, dtype: float64

Index ga nom berish

In [ ]:
cars2.index.name = 'Modellar'
cars2

Modellar
Honda       38000.0
Mazda       52000.0
Lacetti     20000.0
Jaguar          NaN
Malibu      40000.0
Toyota      45000.0
BMW             NaN
MERCEDES        NaN
Name: Avtosalon, dtype: float64

## `Series` obyektiga oid ba'zi parametrlar va metodlar

In [ ]:
cars2.index # indekslar

Index(['Honda', 'Mazda', 'Lacetti', 'Jaguar', 'Malibu', 'Toyota', 'BMW',
       'MERCEDES'],
      dtype='object', name='Modellar')

In [ ]:
cars2.values # qiymatlar

array([38000., 52000., 20000.,    nan, 40000., 45000.,    nan,    nan])

In [ ]:
cars2.hasnans # NaN qiymatlar bor (True) yo'qligi (False)

True

In [ ]:
cars2.dtype # qiymatlarning ma'lumot turi

dtype('float64')

In [ ]:
cars2.is_unique # qiymatlar takrorlanmas ekanini tekshirish

False

In [ ]:
cars2.shape # Series hajm

(8,)

In [ ]:
cars2.size # Series hajmi

8

In [ ]:
cars2.iloc[2] # ma'lumotlarga indeks tartib raqami bo'yicha murojaat qilish

20000.0

In [ ]:
cars2.iloc[-1]

nan

In [ ]:
cars2['Honda'] # ma'lumotlarga indeks bo'yicha murojaat qilish

38000.0

In [ ]:
cars2.loc['Toyota'] # ma'lumotlarga indeks bo'yicha murojaat qilish

45000.0

In [ ]:
cars2.max() # max qiymat

52000.0

In [ ]:
cars2.min() # min qiymat

20000.0

In [ ]:
cars2.mean() # o'rtacha qiymat

39000.0

Amaliyot

In [ ]:

# Matnli ro'yxat asosida Series yaratish
data = {"Olma": 15000, "Anor": 20000, "Gilos":30000, "Nok":10000, "Shaftoli":12000}
series = Series(data)

print(series)

Olma        15000
Anor        20000
Gilos       30000
Nok         10000
Shaftoli    12000
dtype: int64

In [ ]:
mevalar = ['anjir', 'uzum', 'banan', 'qulpunay', 'tarvuz']
mevalar

['anjir', 'uzum', 'banan', 'qulpunay', 'tarvuz']

In [ ]:
mevalar2 = Series(data, index=mevalar)
mevalar2

anjir      NaN
uzum       NaN
banan      NaN
qulpunay   NaN
tarvuz     NaN
dtype: float64