# ![Imgur](https://i.imgur.com/5pXzCIu.png)

# **DATA SCIENCE VA SUN'IY INTELLEKT PRAKTIKUM**

## Ma'lumotlar tahlili. Pandas kutubxonasi.

# **AMALIYOT**
## 3.1 Series va Index

### **1-mashq**. `Pandas` kutubxonasini `pd`, `numpy` kutubxonasini `np` deb chaqirib oling

In [ ]:
# Javobni shuyerga yozing
import pandas as pd
import numpy as np

In [ ]:
#@title To'g'ri javob
import pandas as pd
import numpy as np

### **2-mashq.** O'zbekiston Respublikasi viloyatlaridan iborat bir o'lchamli Series obyektini yarating

In [ ]:
# Javobni shu yerga yozing



# Oʻzbekiston Respublikasi viloyatlari roʻyxati
viloyatlar = [
    "Andijon", "Buxoro", "Farg'ona", "Jizzax", "Xorazm", "Namangan", "Navoiy", "Qashqadaryo",
    "Qoraqalpog'iston Respublikasi", "Samarqand", "Sirdaryo","Surxondaryo", "Toshkent"
]

# Pandas Series obyektini yaratish
uzb_viloyatlar = pd.Series(viloyatlar)

# Natijani chiqarish
print(uzb_viloyatlar)

0                           Andijon
1                            Buxoro
2                          Farg'ona
3                            Jizzax
4                            Xorazm
5                          Namangan
6                            Navoiy
7                       Qashqadaryo
8     Qoraqalpog'iston Respublikasi
9                         Samarqand
10                         Sirdaryo
11                      Surxondaryo
12                         Toshkent
dtype: object

In [ ]:
#@title **To'g'ri javob**
obj = pd.Series(
    [
        "Andijon",
        "Buxoro",
        "Farg'ona",
        "Jizzax",
        "Xorazm",
        "Namangan",
        "Navoiy",
        "Qashqadaryo",
        "Qoraqalpog'iston Respublikasi",
        "Samarqand",
        "Sirdaryo",
        "Surxondaryo",
        "Toshkent",
    ]
)
print(obj)

0                           Andijon
1                            Buxoro
2                          Farg'ona
3                            Jizzax
4                            Xorazm
5                          Namangan
6                            Navoiy
7                       Qashqadaryo
8     Qoraqalpog'iston Respublikasi
9                         Samarqand
10                         Sirdaryo
11                      Surxondaryo
12                         Toshkent
dtype: object

### **3-mashq.** Yuqorida yaratilgan Series obyektining barcha qiymaltarini chiqaring

In [ ]:
# Javobni shuyerga yozing
uzb_viloyatlar.values

array(['Andijon', 'Buxoro', "Farg'ona", 'Jizzax', 'Xorazm', 'Namangan',
       'Navoiy', 'Qashqadaryo', "Qoraqalpog'iston Respublikasi",
       'Samarqand', 'Sirdaryo', 'Surxondaryo', 'Toshkent'], dtype=object)

In [ ]:
# @title **To'g'ri javob**
obj.values

array(['Andijon', 'Buxoro', "Farg'ona", 'Jizzax', 'Xorazm', 'Namangan',
       'Navoiy', 'Qashqadaryo', "Qoraqalpog'iston Respublikasi",
       'Samarqand', 'Sirdaryo', 'Surxondaryo', 'Toshkent'], dtype=object)

### **4-mashq.** Yuqoridagi Series obyektining eng birinchi qiymatini chiqaring

In [ ]:
# Javobni shuyerga yozing
uzb_viloyatlar[0]

'Andijon'

In [ ]:
# @title **To'g'ri javob**
obj[0]

'Andijon'

### **5-mashq.** Yuqoridagi Series obyektining eng oxirgi qiymatini chiqaring

In [ ]:
# Javobni shuyerga yozing
uzb_viloyatlar.iloc[-1]

'Toshkent'

In [ ]:
# @title **To'g'ri javob**
obj[12]

'Toshkent'

### **6-mashq.** Yuqoridagi Series obyekti uzunligini chiqaring

In [ ]:
# Javobni shuyerga yozing
len(uzb_viloyatlar)

13

In [ ]:
# @title **To'g'ri javob**
obj.size

13

### **7-mashq.** Yuqoridagi Series obyektining o'rtasidan 3 ta qiymat chiqaring

In [ ]:
# Javobni shuyerga yozing
uzb_viloyatlar[5:8]

5       Namangan
6         Navoiy
7    Qashqadaryo
dtype: object

In [ ]:
# @title **To'g'ri javob**

obj[[5, 6, 7]]

5       Namangan
6         Navoiy
7    Qashqadaryo
dtype: object

### **8-mashq.** Quyidagi Series obyektini yarating.
**Ahamiyat bering. `Series` obyekti indeksi sifatida viloyatlar nomi ishlatilgan**

In [ ]:
# @title
ind = obj.values
aholi = [
    1899000,
    1384700,
    2597000,
    910500,
    1200000,
    1862000,
    767500,
    2029000,
    1200000,
    2322000,
    648100,
    1676000,
    4450000,
]
obj2 = pd.Series(aholi, index=ind)
print(obj2)

Andijon                          1899000
Buxoro                           1384700
Farg'ona                         2597000
Jizzax                            910500
Xorazm                           1200000
Namangan                         1862000
Navoiy                            767500
Qashqadaryo                      2029000
Qoraqalpog'iston Respublikasi    1200000
Samarqand                        2322000
Sirdaryo                          648100
Surxondaryo                      1676000
Toshkent                         4450000
dtype: int64

In [ ]:
# Javobni shuyerga yozing


# Oʻzbekiston Respublikasi viloyatlari va ularning aholisining roʻyxati
viloyatlar_aholisi = {
    "Andijon": 1899000,
    "Buxoro": 1384700,
    "Farg'ona": 2597000,
    "Jizzax": 910500,
    "Xorazm": 1200000,
    "Namangan": 1862000,
    "Navoiy": 767500,
    "Qashqadaryo": 2029000,
    "Qoraqalpog'iston Respublikasi": 1200000,
    "Samarqand": 2322000,
    "Sirdaryo": 648100,
    "Surxondaryo": 1676000,
    "Toshkent": 4450000
}

# Pandas Series obyektini yaratish
uzb_aholi_series = pd.Series(viloyatlar_aholisi)

# Natijani chiqarish
print(uzb_aholi_series)

Andijon                          1899000
Buxoro                           1384700
Farg'ona                         2597000
Jizzax                            910500
Xorazm                           1200000
Namangan                         1862000
Navoiy                            767500
Qashqadaryo                      2029000
Qoraqalpog'iston Respublikasi    1200000
Samarqand                        2322000
Sirdaryo                          648100
Surxondaryo                      1676000
Toshkent                         4450000
dtype: int64

### **9-mashq.** Yuqoridagi `Series` obyektidan Jizzax, Buxoro va Namangan viloyatlarining aholisini chiqaring

In [ ]:
# Javobni shuyerga yozing
uzb_aholi_series.loc[["Jizzax", "Buxoro", "Namangan"]]

Jizzax       910500
Buxoro      1384700
Namangan    1862000
dtype: int64

In [ ]:
# @title **To'g'ri javob**
obj2[["Jizzax", "Buxoro", "Namangan"]]

Jizzax       910500
Buxoro      1384700
Namangan    1862000
dtype: int64

### **10-mashq.** Yuqoridagi `Series` obyektidan aholi soni 1 milliondan kam va ko'p bo'lgan viloyatlarni alohida chiqaring

In [ ]:
# Javobni shuyerga yozing
# Aholi soni 1 milliondan kam bo'lgan viloyatlar
print("Aholi soni 1 milliondan kam bo'lgan viloyatlar:")
print(uzb_aholi_series[uzb_aholi_series < 1000000])

# Aholi soni 1 milliondan ko'p bo'lgan viloyatlar
print("Aholi soni 1 milliondan ko'p bo'lgan viloyatlar:")
print(uzb_aholi_series[uzb_aholi_series >= 1000000])

Aholi soni 1 milliondan kam bo'lgan viloyatlar:
Jizzax      910500
Navoiy      767500
Sirdaryo    648100
dtype: int64
Aholi soni 1 milliondan ko'p bo'lgan viloyatlar:
Andijon                          1899000
Buxoro                           1384700
Farg'ona                         2597000
Xorazm                           1200000
Namangan                         1862000
Qashqadaryo                      2029000
Qoraqalpog'iston Respublikasi    1200000
Samarqand                        2322000
Surxondaryo                      1676000
Toshkent                         4450000
dtype: int64

In [ ]:
# @title **To'g'ri javob**
print("Aholisi 1 milliondan ko'p viloyatlar")
print(obj2[obj2 > 1_000_000])
# Pythonda katta sonlarni yozishda 0 orasini _ bilan ajratish mumkin

Aholisi 1 milliondan ko'p viloyatlar
Andijon                          1899000
Buxoro                           1384700
Farg'ona                         2597000
Xorazm                           1200000
Namangan                         1862000
Qashqadaryo                      2029000
Qoraqalpog'iston Respublikasi    1200000
Samarqand                        2322000
Surxondaryo                      1676000
Toshkent                         4450000
dtype: int64

### **11-mashq.** Aholisi 1 milliondan ko'p davlatlar orasida Navoiy viloyati bor/yo'qligini tekshiring

In [ ]:
# Javobni shuyerga yozing
# Aholisi 1 milliondan ko'p davlatlar orasida Navoiy viloyati bor/yo'qligini tekshirish
print("Navoiy viloyati aholi soni 1 milliondan ko'pmi?", "Ha" if "Navoiy" in uzb_aholi_series[uzb_aholi_series >= 1000000] else "Yo'q")

Navoiy viloyati aholi soni 1 milliondan ko'pmi? Yo'q

In [ ]:
# @title **To'g'ri javob**
"Navoiy" in obj2[obj2 > 1_000_000]

False

### **12-mashq.** Quyidagi lug'atda viloyatlar va ularning maydonlari berilgan. Lug'atdan yangi `Series` obyektini yarating va unga "Hududlar hajmi" deb nom bering

In [ ]:
dict = {
    "Andijon": 4200,
    "Buxoro": 39400,
    "Farg'ona": 6800,
    "Jizzax": 20500,
    "Xorazm": 6300,
    "Namangan": 7900,
    "Navoiy": 110800,
    "Qashqadaryo": 28400,
    "Qoraqalpog'iston Respublikasi": 160000,
    "Samarqand": 16400,
    "Sirdaryo": 5100,
    "Surxondaryo": 20800,
    "Toshkent": 15300,
}

In [ ]:
# Javobni shuyerga yozing


# Series obyektini yaratish
hududlar_hajmi = pd.Series(dict, name="Hududlar hajmi")
hududlar_hajmi

Andijon                            4200
Buxoro                            39400
Farg'ona                           6800
Jizzax                            20500
Xorazm                             6300
Namangan                           7900
Navoiy                           110800
Qashqadaryo                       28400
Qoraqalpog'iston Respublikasi    160000
Samarqand                         16400
Sirdaryo                           5100
Surxondaryo                       20800
Toshkent                          15300
Name: Hududlar hajmi, dtype: int64

In [ ]:
#@title To'g'ri javob
obj3 = pd.Series(dict)
obj3.name = "Hudular hajmi"
print(obj3)

Andijon                            4200
Buxoro                            39400
Farg'ona                           6800
Jizzax                            20500
Xorazm                             6300
Namangan                           7900
Navoiy                           110800
Qashqadaryo                       28400
Qoraqalpog'iston Respublikasi    160000
Samarqand                         16400
Sirdaryo                           5100
Surxondaryo                       20800
Toshkent                          15300
Name: Hudular hajmi, dtype: int64

### **13-mashq.** Yuqoridagi `Series` obyektidan hududi eng katta va eng kichik elementlarni chiqaring

In [ ]:
# Javobni shuyerga yozing
# Eng katta va eng kichik qiymatlarni topish


print(f"Eng katta hudud: {hududlar_hajmi.idxmax()}")
print(f"Eng kichik hudud: {hududlar_hajmi.idxmin()}")

Eng katta hudud: Qoraqalpog'iston Respublikasi
Eng kichik hudud: Andijon

In [ ]:
#@title To'g'ri javob
print(f"Eng katta hudud: {obj3.idxmax()}")
print(f"Eng kichik hudud: {obj3.idxmin()}")

Eng katta hudud: Qoraqalpog'iston Respublikasi
Eng kichik hudud: Andijon

### **14-mashq.** Yuqoridagi eng katta va eng kichik hududlar aholisi sonini chiqaring

In [ ]:
# Javobni shuyerga yozing
print(f"{hududlar_hajmi.idxmax()} aholisi {uzb_aholi_series[hududlar_hajmi.idxmax()]}")
print(f"{hududlar_hajmi.idxmin()} aholisi {uzb_aholi_series[hududlar_hajmi.idxmin()]}")

Qoraqalpog'iston Respublikasi aholisi 1200000
Andijon aholisi 1899000

In [ ]:
#@title To'g'ri javob
print(f"{obj3.idxmax()} aholisi {obj2[obj3.idxmax()]}")
print(f"{obj3.idxmin()} aholisi {obj2[obj3.idxmin()]}")

Qoraqalpog'iston Respublikasi aholisi 1200000
Andijon aholisi 1899000

### **15-mashq**. Yuqoridagi hudulardan O'zbekiston Respublikasi hududini hisoblang

In [ ]:
# Javobni shuyerga yozing
# O'zbekiston hududini hisoblash
uzbekistan_hududi = hududlar_hajmi.sum()  # Barcha hududlarning maydonini qo'shamiz
uzbekistan_hududi

441900

In [ ]:
#@title To'g'ri javob
sum(obj3)

441900

### **16-mashq.** Aholisi eng ko'p va eng kam hududlarning hajmini va aholi sonini chiqaring

In [ ]:
# Javobni shuyerga yozing
# Aholisi eng ko'p va eng kam hududlarni aniqlash
eng_kichik_hudud = uzb_aholi_series.idxmin()  # Aholisi eng kam hudud
eng_katta_hudud = uzb_aholi_series.idxmax()  # Aholisi eng ko'p hudud

# Aholi sonini olish
aholi_kichik = uzb_aholi_series[eng_kichik_hudud]
aholi_katta = uzb_aholi_series[eng_katta_hudud]

# Hududlarning hajmini olish
hajmi_kichik = hududlar_hajmi[eng_kichik_hudud]
hajmi_katta = hududlar_hajmi[eng_katta_hudud]

# Natijani chiqarish
print(f"Eng katta hudud: {eng_katta_hudud} viloyati - Aholisi: {aholi_katta} - Maydoni: {hajmi_katta}kv.km")
print(f"Eng kichik hudud: {eng_kichik_hudud} viloyati - Aholisi: {aholi_kichik} - Maydoni: {hajmi_kichik}kv.km")

Eng katta hudud: Toshkent viloyati - Aholisi: 4450000 - Maydoni: 15300kv.km
Eng kichik hudud: Sirdaryo viloyati - Aholisi: 648100 - Maydoni: 5100kv.km

In [ ]:
#@title To'g'ri javob
print(f"{obj2.idxmax()} hududi {obj3[obj2.idxmax()]}kv.km, aholisi {obj2[obj2.idxmax()]}")
print(f"{obj2.idxmin()} hududi {obj3[obj2.idxmin()]}kv.km, aholisi {obj2[obj2.idxmin()]}")

Toshkent hududi 15300kv.km, aholisi 4450000
Sirdaryo hududi 5100kv.km, aholisi 648100

### **17-mashq.** Yuqoridagi ikki obyektdan foydalangan holda O'zbekiston respublikasi tarkibidagi hududlarni avval aholi soni bo'yicha, keyin esa hajmi bo'yicha tartiblab chiqaring

In [ ]:
# Javobni shuyerga yozing
# Aholi soni bo'yicha tartiblashtirish
aholi_tartib = uzb_aholi_series.sort_values(ascending=True)

# Hajmi bo'yicha tartiblashtirish
hajmi_tartib = hududlar_hajmi.sort_values(ascending=True)

# Natijani chiqarish

print("Hududlar hajmi bo'yicha tartiblash")
print(hajmi_tartib)


print("\nAholi soni bo'yicha tartiblash")
print(aholi_tartib)

Hududlar hajmi bo'yicha tartiblash
Andijon                            4200
Sirdaryo                           5100
Xorazm                             6300
Farg'ona                           6800
Namangan                           7900
Toshkent                          15300
Samarqand                         16400
Jizzax                            20500
Surxondaryo                       20800
Qashqadaryo                       28400
Buxoro                            39400
Navoiy                           110800
Qoraqalpog'iston Respublikasi    160000
Name: Hududlar hajmi, dtype: int64

Aholi soni bo'yicha tartiblash
Sirdaryo                          648100
Navoiy                            767500
Jizzax                            910500
Xorazm                           1200000
Qoraqalpog'iston Respublikasi    1200000
Buxoro                           1384700
Surxondaryo                      1676000
Namangan                         1862000
Andijon                          1899000
Qashqadaryo                      2029000
Samarqand                        2322000
Farg'ona                         2597000
Toshkent                         4450000
dtype: int64

In [ ]:
#@title To'g'ri javob
print("Hududlar hajmi bo'yicha tartiblash")
obj3.sort_values()

Hududlar hajmi bo'yicha tartiblash

Andijon                            4200
Sirdaryo                           5100
Xorazm                             6300
Farg'ona                           6800
Namangan                           7900
Toshkent                          15300
Samarqand                         16400
Jizzax                            20500
Surxondaryo                       20800
Qashqadaryo                       28400
Buxoro                            39400
Navoiy                           110800
Qoraqalpog'iston Respublikasi    160000
Name: Hudular hajmi, dtype: int64

In [ ]:
#@title To'g'ri javob
print("Aholi soni bo'yicha tartiblash")
obj2.sort_values()

Aholi soni bo'yicha tartiblash

Sirdaryo                          648100
Navoiy                            767500
Jizzax                            910500
Xorazm                           1200000
Qoraqalpog'iston Respublikasi    1200000
Buxoro                           1384700
Surxondaryo                      1676000
Namangan                         1862000
Andijon                          1899000
Qashqadaryo                      2029000
Samarqand                        2322000
Farg'ona                         2597000
Toshkent                         4450000
dtype: int64