In [ ]:
# IMPORTANT: RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES,
# THEN FEEL FREE TO DELETE THIS CELL.
# NOTE: THIS NOTEBOOK ENVIRONMENT DIFFERS FROM KAGGLE'S PYTHON
# ENVIRONMENT SO THERE MAY BE MISSING LIBRARIES USED BY YOUR
# NOTEBOOK.
import kagglehub
dansbecker_melbourne_housing_snapshot_path = kagglehub.dataset_download('dansbecker/melbourne-housing-snapshot')

print('Data source import complete.')

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/melbourne-housing-snapshot/melb_data.csv

## Avvalgi amaliyotda `GitHub`ga yuklangan `melb_data.csv` faylni `df` ga chaqirib oling

In [ ]:
df = pd.read_csv("https://github.com/muslimmadrakhimov/practice-datasets/blob/main/melb_data.csv?raw=true")
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [ ]:
# Mening javobim
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/blob/main/melb_data.csv?raw=true")
df.head()

Yuqoridagi Dataframe Melburn shahri uchun sotuvdagi uylar haqida m'lumotlarni jamlagan.

Quyida jadvalning ba'zi sutunlari tarjimasi berilgan (qolganini o'zingiz Google yordamida tarjima qilishingiz mumkin):
- `Room` - xonalar soni
- `Type` - uyning turi (h - villa/kottej/hovli; u - kvartira; t - shahardagi hovli)
- `Price` - narx
- `Bathroom` - tualet-vanna
- `Landsize` - yerning maydoni (hovli uchun)
- `BuildingArea` - Bino qurilgan yerning maydoni
- `YearBuilt` - qurilgan yili
- `Lattitude` va `Longitude` - GPS kordinatalar
- `Regionname` - Region

# ðŸ”º DIQQAT!
#### **Agar alohida aytilmagan bo'lsa, `df`ga kiritilgan o'zgartirishlarni saqlamang (`inplace=False`)**

## 1-VAZIFA. `df` dagi barcha ustunlardagi`NaN` qiymatlar sonini chiqaring

In [ ]:
#Javobingizni shu yerga yozing
df.isna().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

## 2-VAZIFA. `df` barcha `NaN` qiymatlarni 0 bilan almashtiring

In [ ]:
#Javobingizni shu yerga yozing
df = df.fillna(0)
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,0.0,0.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,0.0,0.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

## 3-VAZIFA. Quyidagi 2 ustun uchun o'rta qiymatlarni hisoblang:
- BuildingArea
- YearBuilt (**butun son qaytishi kerak**)

In [ ]:
#Javobingizni shu yerga yozing
print(df['BuildingArea'].mean())
print(df['YearBuilt'].mean())

79.78861146539029
1187.0569955817377

**To'g'ri javob:**

In [ ]:
print(df['BuildingArea'].mean())
print(int(df['YearBuilt'].mean()))

79.78861146539029
1187

## 4-VAZIFA: `BuildingArea` va `YearBuilt` ustunlaridagi `NaN` qiymatlarni shu sutun uchun o'rta qiymatlar bilan almashtiring
**DIQQAT!** `YearBuilt` ustuni qiymatlari butun son bo'lishi kerak

In [ ]:
#Javobingizni shu yerga yozing
import pandas as pd

# BuildingArea ustunidagi NaN qiymatlarni o'rtacha qiymat bilan almashtirish
df["BuildingArea"] = df["BuildingArea"].fillna(df["BuildingArea"].mean())

# YearBuilt ustunidagi NaN qiymatlarni butun songa yaxlitlangan o'rtacha qiymat bilan almashtirish
df["YearBuilt"] = df["YearBuilt"].fillna(round(df["YearBuilt"].mean())).astype(int)

# Natijani ko'rish
print(df[["BuildingArea", "YearBuilt"]].head())

   BuildingArea  YearBuilt
0           0.0          0
1          79.0       1900
2         150.0       1900
3           0.0          0
4         142.0       2014

**To'g'ri javob:**

In [ ]:
df.fillna({'BuildingArea':df['BuildingArea'].mean(), 'YearBuilt':int(df['YearBuilt'].mean())})

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,0.0,0.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,0.0,0.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,0.0,1981.0,0,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,0,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,0.0,1997.0,0,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,0,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,0,-37.81188,144.88449,Western Metropolitan,6543.0

## 5-VAZIFA. `.groupby()`
Ustun uchun o'rta qiymat har doim ham aniq bo'lavermaydi. Keling avval `YearBuilt` ustuni uchun aniqroq qiymat topishga harakat qilamiz.

Buning uchun `Regionname` ustuni qiymatlaridan foydalanishimiz mumkin, ya'ni bir Regiondagi binolar tahminan bir hil yillarda qurilgan deb tahmin qilsak bo'ladi.

### 5.1 `.groupby()` yordamida `df` qiymatlarini `Regionname` ustuni bo'yicha guruhlang va `YaerBuilt` ustuni uchun o'rta qiymatni hisoblang.

In [ ]:
#Javobingizni shu yerga yozing
import pandas as pd

# Regionname bo'yicha guruhlash va YearBuilt ustuni uchun o'rtacha qiymatni hisoblash
region_yearbuilt_mean = df.groupby("Regionname")["YearBuilt"].mean().round().astype(int)

# Natijani chiqarish
print(region_yearbuilt_mean)

Regionname
Eastern Metropolitan          1110
Eastern Victoria              1160
Northern Metropolitan         1201
Northern Victoria             1308
South-Eastern Metropolitan    1063
Southern Metropolitan         1212
Western Metropolitan          1183
Western Victoria              1425
Name: YearBuilt, dtype: int64

**To'g'ri javob:**

In [ ]:
df.groupby(['Regionname']).YearBuilt.mean().astype(int)

Regionname
Eastern Metropolitan          1109
Eastern Victoria              1160
Northern Metropolitan         1200
Northern Victoria             1308
South-Eastern Metropolitan    1063
Southern Metropolitan         1211
Western Metropolitan          1183
Western Victoria              1424
Name: YearBuilt, dtype: int64

### 5.2. `df` `YearBuilt` ustunidagi `NaN` qiymatlarni yuqoridagi qiymatlar bilan almashtiring.
`df[df.Regionname='Eastern Metropolitan']=...`

Har bir `Regionname` uchun qiymatlarni bittalab kiritmaslik uchun for siklidan foydalanishingiz mumkin.

In [ ]:
#Javobingizni shu yerga yozing
# Regionname boâ€˜yicha YearBuilt ustunining oâ€˜rtacha qiymatini hisoblash
groups = df.groupby("Regionname")["YearBuilt"].mean().round().astype(int)  # Oâ€˜rtacha qiymatlarni butun songa yaxlitlash

# NaN qiymatlarni mos region uchun oâ€˜rtacha qiymat bilan almashtirish
for idx in groups.index:
    df[df.Regionname == idx] = df[df.Regionname == idx].fillna({"YearBuilt": groups[idx]})

# Butun songa oâ€˜tkazish
df["YearBuilt"] = df["YearBuilt"].astype(int)

# Natijani tekshirish
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,0.0,0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,0.0,0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

**To'g'ri javob**

In [ ]:
groups = df.groupby(['Regionname']).YearBuilt.mean() # Bu Series obyekti
for idx in groups.index:
   df[df.Regionname==idx] = df[df.Regionname==idx].fillna({'YearBuilt':groups[idx]})

### `YearBuilt` uchun yana ham aniqroq o'rta qiymat hisoblashning qanday yo'lini taklif qilgan bo'lar edingiz?

## 6-VAZIFA. `BuildingArea` ustunidagi `NaN` qiymatlarni to'ldiramiz
`BuildingArea` bino qurilgan yerning maydonini bildiradi. Bu qiymatlarni tahmin qilish uchun qaysi ustun qiymatlaridan foydalanish to'g'ri deb hisoblaysiz?

In [ ]:
# Fill NaN values in BuildingArea using the average value based on 'Landsize' and 'Rooms'
df['BuildingArea'] = df['BuildingArea'].fillna(df['Landsize'] * 0.1 + df['Rooms'] * 3)
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,0.0,0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,0.0,0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

### 6.1 `df`ni xonalar soni bo'yicha o'rta qiymat olib ko'ring

In [ ]:
#Javobingizni shu yerga yozing
df.groupby("Rooms").mean()

,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
Rooms,,,,,,,,,,,,
1,4.338245e+05,5.939207,3107.058737,1.029369,1.007342,0.879589,384.681351,26.888752,1291.333333,-37.822123,144.984649,8699.651982
2,7.750812e+05,7.727659,3101.450110,2.016996,1.137336,1.121162,421.164748,47.530781,1232.134868,-37.813112,144.989711,7802.574836
3,1.076081e+06,11.003690,3099.933175,2.984696,1.473219,1.689509,597.700731,70.200594,1113.251318,-37.802929,144.987706,7311.337018
4,1.445282e+06,12.149665,3118.688616,3.921503,2.039062,2.059152,639.727679,120.807933,1244.351935,-37.813326,145.012175,7093.617560
5,1.870260e+06,11.778523,3117.986577,4.875839,2.686242,2.310403,798.505034,236.831135,1271.924497,-37.814517,145.033244,7051.510067
6,1.849366e+06,12.685075,3121.402985,5.820896,2.820896,2.582090,841.462687,149.649254,1079.910448,-37.808151,145.034099,6668.865672
7,1.920700e+06,9.560000,3095.700000,6.600000,2.900000,2.600000,1089.700000,204.254000,1386.300000,-37.792333,145.033313,6874.300000
8,1.602750e+06,10.912500,3095.875000,7.125000,4.125000,3.375000,843.875000,128.000000,983.625000,-37.799385,145.014315,6085.375000
10,9.000000e+05,12.100000,3083.000000,10.000000,3.000000,2.000000,313.000000,0.000000,2006.000000,-37.710980,145.053810,10175.000000

### 6.2 Xonalar va uy turi bo'yicha o'rta qiymatni olib ko'ring.

In [ ]:
#Javobingizni shu yerga yozing
df.groupby(["Rooms", "Type"]).mean()

                   Price   Distance     Postcode   Bedroom2  Bathroom  \
Rooms Type
1     h     8.668655e+05   7.068966  3087.224138   1.103448  1.068966
      t     5.927045e+05   6.981818  3092.000000   1.090909  1.000000
      u     3.899289e+05   5.813399  3109.209150   1.021242  1.001634
2     h     1.017238e+06   7.578255  3090.577253   2.029328  1.081545
      t     7.101585e+05   8.941379  3087.326019   2.003135  1.338558
      u     6.104905e+05   7.635318  3111.655101   2.010357  1.144485
3     h     1.109233e+06  11.253572  3098.533847   2.987919  1.407623
      t     9.847087e+05   9.974563  3103.050874   2.977742  1.918919
      u     8.505963e+05   9.778936  3110.481153   2.960089  1.549889
4     h     1.462283e+06  12.204211  3118.750099   3.922130  2.017084
      t     1.217092e+06  11.444667  3121.360000   3.906667  2.400000
      u     1.037476e+06  10.647619  3092.238095   3.952381  2.095238
5     h     1.877327e+06  11.785787  3118.351946   4.874788  2.690355
      t     1.035000e+06  10.920000  3074.800000   5.000000  2.200000
6     h     1.869508e+06  12.753030  3123.060606   5.848485  2.833333
      u     5.200000e+05   8.200000  3012.000000   4.000000  2.000000
7     h     1.920700e+06   9.560000  3095.700000   6.600000  2.900000
8     h     1.510286e+06  11.357143  3101.285714   7.571429  4.428571
      u     2.250000e+06   7.800000  3058.000000   4.000000  2.000000
10    h     9.000000e+05  12.100000  3083.000000  10.000000  3.000000

                 Car     Landsize  BuildingArea    YearBuilt  Lattitude  \
Rooms Type
1     h     0.793103   297.206897     29.448276   841.103448 -37.787817
      t     0.636364   193.181818     45.000000  1447.545455 -37.833014
      u     0.892157   396.413399     26.320654  1331.194444 -37.825178
2     h     1.120887   337.489986     48.000608  1033.510014 -37.802747
      t     1.188088   261.595611     75.676583  1345.056426 -37.794179
      u     1.110306   508.104091     42.540968  1357.280166 -37.823744
3     h     1.708811   651.883149     69.385367  1067.907728 -37.798971
      t     1.691574   279.448331     82.484575  1360.928458 -37.819691
      u     1.481153   464.776053     61.746674  1250.514412 -37.821690
4     h     2.074692   661.470004    120.796016  1231.964243 -37.811324
      t     1.826667   326.413333    127.161000  1441.206667 -37.845255
      u     1.857143   271.714286     76.857143  1323.000000 -37.825299
5     h     2.314721   803.275804    238.024292  1272.485618 -37.814808
      t     1.800000   234.600000     95.800000  1205.600000 -37.780148
6     h     2.606061   854.212121    149.325758  1066.424242 -37.808138
      u     1.000000     0.000000    171.000000  1970.000000 -37.809000
7     h     2.600000  1089.700000    204.254000  1386.300000 -37.792333
8     h     3.285714   824.000000    146.285714  1124.142857 -37.806197
      u     4.000000   983.000000      0.000000     0.000000 -37.751700
10    h     2.000000   313.000000      0.000000  2006.000000 -37.710980

            Longtitude  Propertycount
Rooms Type
1     h     144.964712    7283.051724
      t     144.988266    7195.454545
      u     144.986473    8860.941176
2     h     144.980881    7317.441345
      t     144.979010    7545.489028
      u     144.997872    8196.270844
3     h     144.984934    7349.872110
      t     144.998826    6996.322734
      u     145.001703    7340.465632
4     h     145.011239    7121.709972
      t     145.024198    6545.193333
      u     145.038477    7643.857143
5     h     145.033487    7052.620981
      t     145.004502    6920.200000
6     h     145.036606    6693.272727
      u     144.868600    5058.000000
7     h     145.033313    6874.300000
8     h     145.020660    5354.142857
      u     144.969900   11204.000000
10    h     145.053810   10175.000000

### 6.3 Ahamiyat bering, 10 xonalik uylar uchun o'rta qiymat chiqmayapti. Bu nimadan dalolat beradi? Jami 10 xonalik uylar nechta? Ular bilan qanday yo'l tutishni maslahat berasiz?

In [ ]:
#Javobingizni shu yerga yozing
# Filtr qilib, 10 xonalik uylarni topish
ten_room_houses = df[df['Rooms'] == 10]

# Jami 10 xonalik uylar sonini chiqarish
print("Jami 10 xonalik uylar soni:", len(ten_room_houses))

Jami 10 xonalik uylar soni: 1

### 6.4 `BuildingArea` ustunidagi mavjud `NaN` qiymatlarni o'zingiz to'g'ri deb bilgan usul bilan to'ldiring.

In [ ]:
# BuildingArea'ni to'ldirish uchun Landsize va Rooms ustunlarini ishlatish
df['BuildingArea'] = df['BuildingArea'].fillna(df['Landsize'] * 0.1 + df['Rooms'] * 5)
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,0.0,0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,0.0,0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

### 7-VAZIFA. Yuqoridagi vazifalardan so'ng, bizda faqatgina `CouncilArea` ustunida `NaN` qiymatlar qolishi kerak xolos.
**Bu ustundagi `NaN` qiymatlarni avvalgi qatordagi qiymatlar bilan to'ldirib keting. Natijani saqlab qoling**

In [ ]:
# CouncilArea ustunidagi NaN qiymatlarni avvalgi qatordagi qiymatlar bilan to'ldirish
df['CouncilArea'] = df['CouncilArea'].fillna(method='ffill')

## YAKUNIY JADVAL
Ahamiyat bering, yakuniy jadvalda `NaN` qiymatlar bo'lmasligi kerak.

In [ ]:
df.isnull().sum()